<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autotest Website</title>
    <link rel="stylesheet" href="./static/main.css">
</head>

<body>
    <header class="container">
        <span class="logo">АвтоТесты</span>
        <header class="container">
        <span class="logo">АвтоТесты</span>
        <navigation>
            <ul>
                <li class="active"><a href ="/">O продукте</a></li>
                <li><a href ="/loading">Загрузка</a></li>
                <li><a href ="/history">История</a></li>
                <li class="btn"><a href ="/help">Помощь</a></li>
            </ul>
        </navigation>
    </header>
    </header>
    <div class="container advantages">
        <h1>Gherkin</h1><br>
        <p>Gherkin - человеко-читаемый язык для описания поведения системы, который использует отступы для задания структуры документа, (пробелы или символы табуляции). Каждая строчка начинается с одного из ключевых слов и описывает один из шагов. <br>

Пример:<br>

Функция: Короткое, но исчерпывающее описание требуемого функционала<br>
    Для того, чтобы достичь определенных целей<br>
    В качестве определенного участника взаимодействия с системой<br>
    Я хочу получить определенную пользу<br>
<br><br>
    Сценарий: Какая-то определенная бизнес-ситуация<br>
        Дано какое-то условие<br>
        И ещё одно условие<br>
        Когда предпринимается какое-то действие участником<br>
        И им делается ещё что-то<br>
        И вдобавок он совершил что-то ещё<br>
        То получается какой-то проверяемый результат<br>
        И что-то ещё случается, что мы можем проверить<br>
Обработчик разбивает файл с тестами на функции, сценарии и входящие в них шаги. Давайте разберем этот пример:<br>
<br>
Строка Функция: Короткое, но исчерпывающее описание требуемого функционала начинает собой описание функционала и дает ему название.<br>
Следующие три строчки не обрабатываются и не несут никакой смысловой нагрузке для обработчика тестов, но они задают контекст тестирования и одновременно описывают, какую пользу мы получим от этого функционала.<br>
Строка Сценарий: Какая-то определенная бизнес-ситуация начинает сценарий и содержит его описание.<br>
Следующие 7 строчек описывают шаги теста, каждому из которых впоследствии будет сопоставлен определенный программный код, выполняющий описанное действие. Сопоставлению подлежат части строк лежащие после ключевых слов “Дано”, “И”, “Когда” и т.д.</p>
    </div>
    <footer>
        <div class="blocks container">
            <div>
                <ul>
                    <li>O нас</li>
                    <li>Генерация тест-кейсов</li>
                    <li>Автоматизация тестирования</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Согласие на обработку данных</li>
                    <li>Служба поддержки</li>
                    <li>Политика конфиденциальности</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Часто задаваемые вопросы (FAQ)</li>
                    <li>Обратная связь</li>
                    <li>Условия использования</li>
                </ul>
            </div>
        </div>
    </footer>
    </body>
    </html>