<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autotest Website</title>
    <link rel="stylesheet" href="./static/main.css">
</head>

<body>
    <header class="container">
        <span class="logo">АвтоТесты</span>
        <navigation>
            <ul>
                <li class="active"><a href ="/">O продукте</a></li>
                <li><a href ="/loading">Загрузка</a></li>
                <li><a href ="/history">История</a></li>
                <li class="btn"><a href ="/help">Помощь</a></li>
            </ul>
        </navigation>
    </header>

    <div class="hero container">
        <div class="hero--info">
            <h2>Будущее тестирования — сегодня</h2>
            <h1>Автоматизация тестирования c помощью ИИ</h1>
            <p>Создавайте тест-кейсы и автотесты быстро и эффективно!</p>
            <a href ="/loading"><button class="btn">Начать бесплатно</button></a>
        </div>
        <img src="img/imagine.svg" alt="">
    </div>
    <div class="container advantages">
        <h3>Преимущества</h3>
        <div class="points">
            <div class="block">
                <img src="./img/onepoint.png" alt="">
                <span>Быстрая генерация тест-кейсов</span>
            </div>
            <div class="block">
                <img src="./img/twopoint.png" alt="">
                <span>Уменьшение человеческих ошибок</span>
            </div>
            <div class="block">
                <img src="./img/threepoint.png" alt="">
                <span>Анализ эффективности тестов</span>
            </div>
        </div>
        <!-- <h5>Часто задаваемые вопросы (FAQ)</h5>
        <div class="faq-container">
            <ul class="questions">
                <li>
                    <button class="question-toggle"><span class="question">Что такое ваш сервис и как он работает?</span></button>
                    <div class="answer">
                        <p>Наш сервис — это веб-приложение, которое использует технологии машинного обучения и обработки естественного языка для автоматической генерации тест кейсов и кодов автотестов. Он анализирует требования вашего программного обеспечения и создает тесты, которые помогают выявить ошибки и улучшить качество кода.</p>
                    </div>
                </li>
                <li>
                    <button class="question-toggle"><span class="question">Каковы преимущества использования вашего сервиса?</span></button>
                    <div class="answer">
                        <p>• Сокращение времени на тестирование: Автоматизация позволяет значительно ускорить процесс тестирования.

                            • Снижение числа ошибок: Искусственный интеллект минимизирует человеческий фактор и вероятность ошибок.
                            
                            • Повышение эффективности: Наш сервис анализирует существующие тесты и выявляет дублирование, что помогает оптимизировать тестовые наборы.</p>
                    </div>
                </li>
                <li>
                    <button class="question-toggle"><span class="question">Что делать, если у меня возникли проблемы с использованием сервиса?</span></button>
                    <div class="answer">
                        <p>Если у вас возникли какие-либо проблемы или вопросы, вы можете обратиться в нашу службу поддержки через раздел "Помощь" на сайте. Мы готовы помочь вам в любое время.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div> -->

</div>
<footer>
    <div class="blocks container">
        <div>
            <ul>
                <li>O нас</li>
                <li>Генерация тест-кейсов</li>
                <li>Автоматизация тестирования</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Согласие на обработку данных</li>
                <li>Служба поддержки</li>
                <li>Политика конфиденциальности</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Часто задаваемые вопросы (FAQ)</li>
                <li>Обратная связь</li>
                <li>Условия использования</li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>
