<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autotest Website</title>
    <link rel="stylesheet" href="./static/main.css">
</head>

<body>
    <header class="container">
        <span class="logo">АвтоТесты</span>
        <navigation>
            <ul>
                <li class="active"><a href ="/">O продукте</a></li>
                <li><a href ="/loading">Загрузка</a></li>
                <li><a href ="/history">История</a></li>
                <li class="btn"><a href ="/help">Помощь</a></li>
            </ul>
        </navigation>
    </header>
    
    <div class="container advantages">
        <h3>Вставьте текст в поле ниже в формате Gherkin</h3>
        <h4>Gherkin язык описания тестов использует специальную нотацию (синтаксис), которая определяет структуру теста и набор ключевых слов</h4>

        <div class="center container">
            <div class="center--info">
                <form method="POST" action="/loading">
                    <textarea name="text_input" rows="10" cols="50" class="text_input"></textarea><br>
                    <input type="submit" value="Отправить" class="btn" style="margin: 10% 0 0 25%">
                </form>
            </div>
        </div>



        <h3>Загрузка файлов для анализа и генерации <br> тест-кейсов</h3>
        <h4>Загрузите ваши тестовые наборы и дайте искусственному <br> интеллекту оптимизировать их!</h4>
    
        
        <div class="instruct container">
            <div class="instruct--info">
                <h3>Инструкция по загрузке</h3>
            </div>
            <img src="img/group.png" alt="">
        </div>
        <h3>Выберите формат выгрузки файла</h3>
    <div class="radio-buttons">
            <input type="radio" id="txt" name="option" value="text">
            <label for="txt">txt</label><br>
            <input type="radio" id="feature" name="option" value="feature">
            <label for="feature">feature</label>
    </div>
    
    </div>
    <div class="center container">
            <div class="center--info">
                <a href ="C:\Users\phder\OneDrive\Рабочий стол\project\loading.html"><button class="btn" style="margin: 10% 0 0 0">Выбрать файл</button></a>
            </div>
        </div>

    <div class="file">
        <div class="file--info">
            <a href ="/upload"><button class="btn">Сгенерировать файл</button></a>
        </div>
    </div>
</div>

<footer>
    <div class="blocks container">
        <div>
            <ul>
                <li>O нас</li>
                <li>Генерация тест-кейсов</li>
                <li>Автоматизация тестирования</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Согласие на обработку данных</li>
                <li>Служба поддержки</li>
                <li>Политика конфиденциальности</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Часто задаваемые вопросы (FAQ)</li>
                <li>Обратная связь</li>
                <li>Условия использования</li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>
